body {
    /* font-family: 'Varela Round', sans-serif; */
    font-family: 'Play', sans-serif;
}

img{width:100%;}

.tips{
    font-size:10px;
}

table{font-size:14}
.odd { background-color: #000; }
.even { background-color: #F00; }

a.delete {
    color: black;
}
a.delete:hover {
    color: #e02200f1
}

.device-box h4{
    margin:2px;
}
.list-group.device-box{
    margin:2px;
}
.list-group-item.device-box{
    padding:1px;
    border: none
}
.panel-body.device-box{
    padding:5px;
    margin-bottom:0px;
}
.panel-heading.device-box{
    padding:5px;
    margin-bottom:0px;
}

footer {
    font-size:12px;
}