<%# views/index.ejs %>
<% extend('layout') %>
<script type="text/javascript">
  
</script>
<h1>Home</h1>
<ul class="list-group">
  <li class="list-group-item">Consumo total no mes: <%= consumption %></li>
</ul>
<form action="">
<input class="test" type="submit" value="Release"/> 
</form>
<table id="telemetry-data"></table>
<textarea class="newdata" placeholder="new data will appear here"></textarea>
<script src="/socket.io/socket.io.js"></script>

<!-- block content
  h1 #{title}
  ul.list-group
    each article, i in articles
      li.list-group-item
        a(href="/articles/"+article._id)=article.title
 -->