<%# views/layout.ejs %>

<!DOCTYPE html>
<html>
  <head>
    <title>SICEE</title>    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Play|Quicksand|Varela+Round" rel="stylesheet">
    <style>
      .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
      }
      
      .switch input {display:none;}
      
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      input:checked + .slider {
        background-color: #2196F3;
      }
      
      input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
      }
      
      input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }
      
      /* Rounded sliders */
      .slider.round {
        border-radius: 34px;
      }
      
      .slider.round:before {
        border-radius: 50%;
      }
      </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
        <a class="navbar-brand" href="#">SICEE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
            <!-- <li class="nav-item active"> -->
              <a class="nav-link" href="/">Dashboard <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/devices">Dispositivos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/telemetry">Telemetria</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/agendash">Automação</a>
            </li>
            
              <li class="nav-item"><a class="nav-link" href="/alerts">Avisos</a></li>
            
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if (user) { %>
              <li class="nav-item"><a class="nav-link" href="/users/logout">Logout</a></li>
            <% } else { %>
              <li class="nav-item"><a class="nav-link" href="/users/register">Registrar</a></li>
              <li class="nav-item"><a class="nav-link" href="/users/login">Login</a></li>
            <% } %>
          </ul>
        </div>
      </nav>
    
    <div class="container-fluid"><br><br><br>
      <%- content %>
     
      <!-- <br> -->
      <hr>
      <footer>
      <div class="container">
        <div class="row">
          <div class="col col-lg-6">
            <div class="row justify-content-md-end">
              <img src="/img/unifaplogo.png" class="rounded" alt="unifap" width="140px" height="100px">
            </div>
          </div>
          <div class="col-lg-6">
            <p>
            <b>ENGENHARIA ELÉTRICA</b><br>
            Trabalho de Conclusão de Curso<br>
            André Souza @ souza.andre1993@gmail.com<br>
            Lucas Rodrigues<br>
            Copyright &copy; 2017<br>
          </p>
          </div>
        </div>
      </div>
      </footer>
    </div>
    <script src="/bower_components/jquery/dist/jquery.js"> </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/js/main.js"> </script>
    <script src="/js/dashboardFeed.js"> </script>
    <script src="/js/telemetryFeed.js"> </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.js"></script>
    
    <script type="text/javascript">
      // var c1 = document.getElementById("chart1");
      // weeklyConsumptionChart(c1);
      var c2 = document.getElementById("chart2");
      weeklyConsumptionPerDeviceChart(c2);
    </script>
  </body>
</html>