<%# views/layout.ejs %>

<!DOCTYPE html>
<html>
  <head>
    <title>SICEE</title>    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="/">SICEE</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/devices">Devices</a></li>
            <li><a href="/api/telemetry">Telemetry</a></li>
            <li><a href="/agendash">Schedule</a></li>
            <% if (user) { %>
              <li><a href="/devices/add">Manage devices</a></li>
            <% }  %>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              <% if (user) { %>
                <li><a href="/users/logout">Logout</a></li>
              <% } else { %>
              <li><a href="/users/register">Register</a></li>
              <li><a href="/users/login">Login</a></li>
              <% } %>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <%- content %>
      <!-- <br> -->
      <hr>
      <footer>
        <p>UNIVERSIDADE FEDERAL DO AMAPÁ</p>
        <p>ENGENHARIA ELÉTRICA</p>
        <p>Trabalho de Conclusão de Curso</p>
        <p>Acadêmicos: André Souza / Lucas Rodrigues</p>
        <p>Copyright &copy; 2017</p>
      </footer>
    </div>
    <script src="/bower_components/jquery/dist/jquery.js"> </script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/js/main.js"> </script>
  </body>
</html>