<%# views/telemetry.ejs %>
<% extend('layout') %>

<h1>Login</h1>
<form method="POST" action="/users/login">
  <form-group>
    <label>Username:</label>
    <input class="form-control" name="username" type="text">
  </form-group>
  <form-group>
    <label>Password:</label>
    <input class="form-control" name="password" type="text">
  </form-group>
  <br>
  <input class="btn btn-primary" type="submit" value="Submit">
</form>