<div class="messages">
	<% telemetry_list.forEach(function(item) { %>
</div>
.messages
  each type in Object.keys(messages)
    each message in messages[type]
      div(class="alert alert-"+type) #{message}
