<%# views/register.ejs %>
<% extend('layout') %>
<!-- <div class="container" style="width:400px"> -->
<h1>Registrar</h1>
<form method="POST" action="/users/register">
  <form-group>
    <label>Nome:</label>
    <input class="form-control" name="name" type="text">
  </form-group>
  <form-group>
    <label>Email:</label>
    <input class="form-control" name="email" type="text">
  </form-group>
  <form-group>
    <label>Nome de usuário:</label>
    <input class="form-control" name="username" type="text">
  </form-group>
  <form-group>
    <label>Senha:</label>
    <input class="form-control" name="password" type="password">
  </form-group>
  <form-group>
    <label>Confirmar senha:</label>
    <input class="form-control" name="password2" type="password">
  </form-group>
  <br>
  <input class="btn btn-primary" type="submit" value="Enviar">
</form>
<!-- </div> -->

  <!-- h1 Register
  form(method='POST', action='/users/register')
    #form-group
      label Name:
      input.form-control(name='name', type='text')
    #form-group
      label Email:
      input.form-control(name='email', type='text')
    #form-group
      label Username:
      input.form-control(name='username',type='text')
    #form-group
      label Password:
      input.form-control(name='password',type='password')
    #form-group
      label Confirm:
      input.form-control(name='password2',type='password')
    br
    input.btn.btn-primary(type='submit',value='Submit')
 -->