.alert-error{
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert-success_msg{
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

body {
  font-family: 'Varela Round', sans-serif;
  /* font-family: 'Play', sans-serif; */
}

footer {
  font-family: 'Play', sans-serif;
  font-size:12px;
}