<a href="#/books">Go Back</a>
<div class="panel panel-default" ng-init="getDevices()">
  <div class="panel-heading">
    <h3 class="panel-title">{{book.title}}</h3>
  </div>
  <div class="panel-body">
    <div class="row">
    <div ng-repeat="device in devices">
    		<div class="col-md-6">
    			<div class="col-md-6">
						<h4>Dispositivo {{device.deviceId}}</h4>
						<ul>
								<li>Descricao: {{device.description}}</li>
								<li>Estado: {{device.current_state}}</li>
								<li>ID na rede: {{device.pipe}}</li>
						</ul>
    				
            <a class="btn btn-primary" href="#/control/details/{{book._id}}">Parear</a>
            <a class="btn btn-warning" href="#/control/details/{{book._id}}">Ping</a>
    			</div>
    			<div class="col-md-6">
    				<!-- <img class="thumbnail" src="{{book.image_url}}"> -->
    			</div>
    		</div>
    	</div>
  </div>
  </div>
</div>

<div class="pull-right">
  <a href="#/books/edit/{{book._id}}">Edit</a> |  <a href="#" ng-click="removeBook(book._id)">Delete</a>
  </div>