<div ng-controller="DevicesController as devController">
	<div class="row">
		<div class="col-xs-6">
				<input type="text" class="form-control" placeholder="Filtrar por nome" ng-model="devController.searchDevice">
		</div>
		<div class="col-xs-6">
			<div class="pull-right">
			<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseNewDevice" aria-expanded="false" aria-controls="collapseNewDevice">
			Adicionar
			</button>
		</div>
		</div>
	</div>
	<div class="collapse" id="collapseNewDevice">
		<div class="well">
			<form name="newDeviceForm">
			<p>
				<h4>Nome</h4>
				<input type="text" class="form-control" placeholder="microondas, central..." ng-model="devController.new_device.name" required>
			</p>	
			<div>
				<button type="submit" class="btn btn-success btn-sm" data-toggle="collapse" data-target="#collapseNewDevice" ng-disabled="newDeviceForm.$invalid" ng-click="devController.addDevice()">
					<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Salvar
				</button>
				<button type="button" class="btn btn-default btn-sm" data-toggle="collapse" data-target="#collapseNewDevice">
					<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancelar
				</button>
			</div>
			</form>
		</div>
	</div>
<br>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Dispositivos cadastrados</h3>
  </div>
  <div class="panel-body" ng-init="devController.getDevices()">
		<div class="row">
			<div ng-repeat="device in devController.devices | filter: devController.searchDevice | orderBy:'name'">
					<div class="col-sm-4">
							<h4>{{device.name | uppercase}}</h4>
							<span>
									<div><label>WEBid:</label> {{device._id}}</div>
									<div><label>Estado atual:</label> {{device.current_state | uppercase}}</div>
									<div><label>Estado definido pelo usuário:</label> {{device.change_state | uppercase}}</div>
									<div><label>RFid:</label> {{device.pipe}} <label ng-if="device.pipe==''">Dispositivo não pareado</label></div>
							</span>
							<button class="btn btn-primary" data-toggle="modal" data-target="#edit{{device._id}}">
								<span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Editar
							</button>
							<div class="modal fade" id="edit{{device._id}}" role="dialog">
								<div class="modal-dialog modal-sm">
									<div class="modal-content">
										<form name="editDeviceForm">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal">&times;</button>
											<h4 class="modal-title">Renomear dispositivo</h4>
										</div>
										
										<div class="modal-body">
											
											<h4>Nome</h4>
											<input type="text" class="form-control" placeholder="{{device.name}}" ng-model="devController.edit_device.name" required>
											
											
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-success" data-dismiss="modal" ng-disabled="editDeviceForm.$invalid" ng-click="devController.editDevice(device._id)">Salvar</button>
											<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
										</div>
										</form>
									</div>
								</div>
							</div>

							<button ng-click="devController.deleteDevice(device._id)" class="btn btn-danger">
								<span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Excluir
							</button>
							<!-- <button ng-click="turnOn(device._id)" class="btn btn-success">Ligar</button>
							<button ng-click="turnOff(device._id)" class="btn btn-danger">Desligar</button> -->
							<!-- <a class="btn btn-primary" href="#/control/details/{{book._id}}">Parear</a> -->
							<button class="btn btn-default" ng-if="device.pipe!=''" data-toggle="modal" data-target="#ping{{device._id}}">
								<span class="glyphicon glyphicon-transfer" aria-hidden="true"></span> Ping
							</button>
							<div class="modal fade" id="ping{{device._id}}" role="dialog">
								<div class="modal-dialog modal-sm">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" ng-click="devController.startRfPing(device._id)">&times;</button>
											<h4 class="modal-title">Teste de conexão de rádiofrequência</h4>
										</div>
										<div class="modal-body">
											<p>Dispositivo: {{device.deviceId}}</p>
											<p>Canal de RF: {{device.pipe}}</p>
											<p>---------</p>
											<p>Pacote recebido: 22ms</p>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="devController.stopRfPing(device._id)">Ping</button>
											<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
										</div>
									</div>
								</div>
							</div>
							<button class="btn btn-default" ng-if="device.pipe==''" data-toggle="modal" data-target="#sync{{device._id}}" ng-click="devController.rfTether(device._id,true)">
									<span class="glyphicon glyphicon-signal" aria-hidden="true"></span> Parear
							</button>
							<div class="modal fade" id="sync{{device._id}}" role="dialog">
								<div class="modal-dialog modal-sm">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal">&times;</button>
											<h4 class="modal-title">Nova conexão de rádiofrequência</h4>
										</div>
										<div class="modal-body">
											<label>{{devController.tetherMsg}}</label>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="devController.rfTether(device._id,false)">Fechar</button>
										</div>
									</div>
								</div>
							</div>
						</div>
						
					</div>
				</div>
		</div>
	</div>
</div>

</div>
<!-- <div class="pull-right">
</div> -->