<div class="statisticsPage" ng-controller="StatisticsController as statsController">
	<div class="panel panel-default" >
		<div class="panel-heading">
			<h3 class="panel-title">Estatísticas do mês</h3>
		</div>
		<div class="panel-body">
			<div class="col-md-6" ng-init="statsController.getConsumptionPerDay()">
				<div class="row">
					<h5 class="text-center">Consumo por dia</h5>
					<div class="charjs-size-monitor">
						<canvas id="dailyConsumptionChart"></canvas>
					</div>
				</div>
				<hr>
				<div>Média diária: {{statsController.avg | number:2}} Wh</div>
				<div>Consumo hoje relativo à média: {{statsController.avgVsToday | number:2}} %</div>
				<div>Consumo acumulado no mês: {{statsController.consMonth | number:2}} Wh | {{statsController.consMonth/1000 | number:2}} kWh</div>
				<div>Previsão para o Mês: {{statsController.monthPrediction | number:2}} Wh | {{statsController.monthPrediction/1000 | number:2}} kWh</div>
			</div>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Estatísticas do dia</h3>
		</div>
		<div class="panel-body">
			<div class="col-md-6" ng-init="statsController.getConsumptionPerHour()">
				<div class="row">
				<h5 class="text-center">Consumo por hora</h5>
				<div class="charjs-size-monitor">
					<canvas id="hourlyConsumptionChart"></canvas>
				</div>
				</div>
				<hr>
				<p><strong>Horários de maior consumo</strong></p>
				<ul class="list-group device-box" ng-repeat="item in statsController.excess_consumption | orderBy:'_id'">
					<li class="list-group-item device-box">hora: {{item._id}} h, consumo: {{item.total | number:1}} Wh</li>
				</ul>
			</div>

			<div class="col-md-6" ng-init="statsController.getConsumptionPerDevice(); statsController.getUsagePerDay()">
				<div class="row">
					<h5 class="text-center">Consumo por dispositivo</h5>
					<div class="charjs-size-monitor">
						<canvas id="deviceConsumptionChart"></canvas>
					</div>
				</div>
				<hr>
				<p>Horas de funcionamento hoje</p>
				<div ng-repeat="device in statsController.usagePerDay">
					<div>{{device.name | uppercase}} : {{device.usage | number:2}} h</div>
				</div>
			</div>
		</div>
	</div>
</div>
